<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tippspiel: Übersicht</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../static/admin/styles.css" th:href="@{/admin/styles.css}"/>

    <script>
        function resetScoreRanges() {
            var radios = document.querySelectorAll('input[name=scoreRange]');
            for (var i = 0; i < radios.length; ++i) {
                radios[i].checked = false;
            }
        }
    </script>
</head>
<body>
<h1 th:text="${tournament.name}"></h1>
</body>


<form action="#" th:action="@{/admin/tournament}" th:object="${tournament}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <table>
        <tr>
            <td><label th:for="championId">Weltmeister</label></td>
            <td>
                <select th:field="*{championId}" id="championId" th:errorClass="error">
                    <option value="-1" th:text="ausw&auml;hlen"></option>
                    <option th:each="team : ${teams}" th:value="${team.id}" th:text="${team.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label th:for="scoreRange">Tore</label>
                <br/>
                <button type="button" onclick="resetScoreRanges();">reset</button>
            </td>
            <td>
                <ul>
                    <li th:each="sr : ${scoreRanges}">
                        <input type="radio" th:field="*{scoreRange}" th:value="${sr}" th:errorClass="error"/>
                        <label th:for="${#ids.prev('scoreRange')}" th:text="${sr.text}">100 - 200</label>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
    <table>
        <tr th:each="currentGame, stat : *{games}">
            <td th:text="${currentGame.team1}">Team 1</td>
            <td><input type="hidden" th:field="*{games[__${stat.index}__].id}"/>
                <input type="hidden" th:field="*{games[__${stat.index}__].team1}"/>
                <input type="hidden" th:field="*{games[__${stat.index}__].team2}"/>
                <input type="text" th:field="*{games[__${stat.index}__].score1}" th:errorClass="error"/></td>
            <td>:</td>
            <td><input type="text" th:field="*{games[__${stat.index}__].score2}" th:errorClass="error"/></td>
            <td th:text="${currentGame.team2}">Team 2</td>
        </tr>
    </table>
    <p><input type="submit" value="Submit"/>

</form>

</html>